@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modak&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

:root {
  --primary-base: #ffe6c1;
  --secondary-base: #ffc7b9;
  --nav-base: #f7c68e;
  --grey-base: #747068;
  --alternative-base: #d9d9d9;
  --primary-button: #f78075;
  --secondary-button: #73973e;
  --alternative-button: #fbab14;
  --hover-button: #2f4f00cc;
  --primary-font-color: #000000;
  --secondary-font-color: #fbab14;
  --alternative-font-color: #f15c36;
  --white-font-color: #ffffff;
  --roboto: "Roboto", sans-serif;
  --pacifico: "Pacifico", cursive;
  --modak: "Modak", system-ui;
}